@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.boost-job {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://cdn.aarp.net/content/dam/aarp/work/job_hunting/2016/11/1140-great-tech-jobs-for-50-plus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .side-content {
        min-height: 100vh;
        width: 35%;
        position: fixed;
        padding: 30vh 50px 30px 50px;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        h1 {
            font-family: 'Fredoka', sans-serif;
            font-size: 56px;
        }
        h6 {
            font-family: 'Ubuntu', sans-serif;
        }
        .reserved {
            @extend %flex-box;
            flex-direction: column;
            font-size: 12px;

            .know-us {
                a {
                    text-decoration: none;
    
                    &:hover {
                        text-decoration: underline;
                    }
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .boost-content {
        background-color: white;
        margin-left: 35%;
        min-height: 100vh;

        .header {
            padding: 10px 30px;
            border-bottom: 1px solid rgb(190, 190, 190);
            @extend %flex-box;
            justify-content: space-between;

            img {
                width: 40px;
                padding: 2px;
            }
        }
        .body {
            table {
                width: fit-content;
                margin: 20px 25px;

                tr{
                    &:nth-child(2n+1) {
                        background-color: rgb(240, 240, 240);
                    }
                    &:nth-child(1) {
                        background-color: unset;
                    }
                    th {
                        text-align: center;
                        background-color: $main-color;
                        color: white;
                        border: 3px solid white;
                        padding: 5px 10px;
                        
                        &:nth-child(1) {
                            background-color: unset;
                            border: none;
                        }
                    }
                   
                    td {
                        padding: 10px 10px;
                        text-align: center;
                        border-left: 2px solid rgb(255, 255, 255);
    
                        &:nth-child(1) {
                            padding: 10px 10px;
                            text-align: left;
                            border: none;
                            font-weight: 600;
                        }
                        span.choice {
                            color: $main-color;
                            font-size: 20px;
                            font-weight: 600;

                            input {
                                margin-right: 5px;

                            }
                        }
                        span.simple {
                            color: black;
                        }

                        button {
                            background-color: white;
                            border-radius: 5px;
                            border: 2px solid $main-color;
                            color: $main-color;
                            
                        }
                        
                    }
                }
            }
        }
    }
}