.job-sidebar {
    background-color: white;
    width: 400px;
    height: 88vh;
    margin: 0 10px 10px 10px;
    border-radius: 10px;
    position: fixed;
    padding: 20px;
    .tools {
        @extend %flex-box;
        justify-content: space-between;

        .back-btn {
            padding-bottom: 20px;
            width: fit-content;
            
            &:hover {
                cursor: pointer;
                .iconify{
                    color: $main-color;
                }
            }
            &:active {
                cursor: pointer;
                .iconify:nth-child(1) {
                    display: none;
                }
                .iconify:nth-child(2) {
                    display: block;
                }
            }
        
            .iconify {
                font-size: 35px;
                color: rgb(82, 82, 82);
            }
            .iconify:nth-child(2) {
                display: none;
                color: $main-color;
            }
        }
        .more-tools {
            padding-bottom: 20px;
            width: fit-content;

            .iconify {
                font-size: 21px;
                color: rgb(82, 82, 82);

                &:hover {
                    cursor: pointer;
                    color: $main-color;
                }
            }
            
        }
    }

    .info-logo {
        width: 100%;
        display: flex;
        border-bottom: 0.5px solid $main-color;
        padding-bottom: 10px;

        img {
            width: 100px;
            margin: 5px;
            margin-top: 0;
        }
    }
    .info-position {
        padding-left: 15px;
    }

    .button-apply {
        @extend %flex-box;
        width: 100%;
        background-color: $white;
        margin-left: -20px;
        position: absolute;
        bottom: 0;
        padding: 20px;
        justify-content: center;
        gap: 40px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        .apply {
            @extend %btn-highlight;
            
            .iconify {
                font-size: 25px;
            }
        }
        .add-fav {
            @extend %btn-highlight;
            .iconify {
                font-size: 25px;
            }
        }
        .share-job {
            @extend %btn-highlight;
            .iconify {
                font-size: 25px;
            }
        }
    }
}

.info-content {
    background-color: white;
    min-height: 100vh;
    margin: 70px 10px 10px 420px;
    border-radius: 10px;
    padding: 50px 60px;

    table tr {
        td {
            padding-left: 10px;

            b {
                color: $main-color;
            }
        }
        td:nth-child(2) {
            color: rgb(78, 78, 78);
        }

        .closing {
            color: $register;
        }
    }

}