@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("http://fonts.cdnfonts.com/css/glacial-indifference-2");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
.boost-job .boost-content .header, .boost-job .side-content .reserved, .register-form .card .card-body form .user-name, .register-form .card .card-body form .signEmail, .register-form .card .card-header, .register-form, .term-of-use .term-sheet .title-term .tools, .job-post .image-tool, .job-post .form-input .preview, .signIn .signCard .card-footer .socialMedia a:nth-child(3), .signIn .signCard .card-footer .socialMedia a, .signIn .signCard .card-footer .socialMedia, .signIn .signCard .card-body form .log .log-btn button, .signIn .signCard .card-body form .log .log-btn, .signIn .signCard .card-body form .log, .signIn .signCard .card-body form .signEmail, .signIn .signCard .signInHeader, .signIn, .wrapper .col-md-6 .text-center .button, .favorites .sidebar .card .card-body form .find-fav, .favorites .sidebar .card .card-body form .tools, .favorites .sidebar .card .card-header, .job-sidebar .button-apply, .job-sidebar .tools, .type-page .types-menu form, .type-page .types-menu, main .content-container, header .slider-content .browse .move-down a, header .slider-content .browse, header .slider-content, .navbar .collapse.navbar-collapse .sign-in a #register, .navbar .collapse.navbar-collapse .sign-in a #sign-in, .navbar .collapse.navbar-collapse .sign-in, .navbar .collapse.navbar-collapse .search-item, .navbar .collapse.navbar-collapse, .navbar .mb-menu .nav .navbar-nav, .home .browse-bottom .move-down a, .home .browse-bottom, .favorites .fav-items-content .row .card .card-footer .content .share-job button, .favorites .fav-items-content .row .card .card-footer .content .add-fav button, .favorites .fav-items-content .row .card .card-footer .content .apply button, .job-sidebar .button-apply .share-job button, .job-sidebar .button-apply .add-fav button, .job-sidebar .button-apply .apply button, main .container-fluid .row .card .card-footer .content .share-job button, main .container-fluid .row .card .card-footer .content .add-fav button, main .container-fluid .row .card .card-footer .content .apply button {
  display: flex;
  align-items: center;
}

.favorites .fav-items-content .row .card .card-footer .content .share-job, .favorites .fav-items-content .row .card .card-footer .content .add-fav, .favorites .fav-items-content .row .card .card-footer .content .apply, .job-sidebar .button-apply .share-job, .job-sidebar .button-apply .add-fav, .job-sidebar .button-apply .apply, main .container-fluid .row .card .card-footer .content .share-job, main .container-fluid .row .card .card-footer .content .add-fav, main .container-fluid .row .card .card-footer .content .apply {
  color: #2b95ff;
}
.favorites .fav-items-content .row .card .card-footer .content .share-job button, .favorites .fav-items-content .row .card .card-footer .content .add-fav button, .favorites .fav-items-content .row .card .card-footer .content .apply button, .job-sidebar .button-apply .share-job button, .job-sidebar .button-apply .add-fav button, .job-sidebar .button-apply .apply button, main .container-fluid .row .card .card-footer .content .share-job button, main .container-fluid .row .card .card-footer .content .add-fav button, main .container-fluid .row .card .card-footer .content .apply button {
  border: none;
  border-radius: 50%;
  padding: 5px;
  color: #2b95ff;
  justify-content: center;
  font-size: 20px;
  background-color: unset;
}
.favorites .fav-items-content .row .card .card-footer .content .share-job button .iconify:nth-child(2), .favorites .fav-items-content .row .card .card-footer .content .add-fav button .iconify:nth-child(2), .favorites .fav-items-content .row .card .card-footer .content .apply button .iconify:nth-child(2), .job-sidebar .button-apply .share-job button .iconify:nth-child(2), .job-sidebar .button-apply .add-fav button .iconify:nth-child(2), .job-sidebar .button-apply .apply button .iconify:nth-child(2), main .container-fluid .row .card .card-footer .content .share-job button .iconify:nth-child(2), main .container-fluid .row .card .card-footer .content .add-fav button .iconify:nth-child(2), main .container-fluid .row .card .card-footer .content .apply button .iconify:nth-child(2) {
  display: none;
}
.favorites .fav-items-content .row .card .card-footer .content .share-job button:hover .iconify:nth-child(1), .favorites .fav-items-content .row .card .card-footer .content .add-fav button:hover .iconify:nth-child(1), .favorites .fav-items-content .row .card .card-footer .content .apply button:hover .iconify:nth-child(1), .job-sidebar .button-apply .share-job button:hover .iconify:nth-child(1), .job-sidebar .button-apply .add-fav button:hover .iconify:nth-child(1), .job-sidebar .button-apply .apply button:hover .iconify:nth-child(1), main .container-fluid .row .card .card-footer .content .share-job button:hover .iconify:nth-child(1), main .container-fluid .row .card .card-footer .content .add-fav button:hover .iconify:nth-child(1), main .container-fluid .row .card .card-footer .content .apply button:hover .iconify:nth-child(1), .favorites .fav-items-content .row .card .card-footer .content .share-job button:focus .iconify:nth-child(1), .favorites .fav-items-content .row .card .card-footer .content .add-fav button:focus .iconify:nth-child(1), .favorites .fav-items-content .row .card .card-footer .content .apply button:focus .iconify:nth-child(1), .job-sidebar .button-apply .share-job button:focus .iconify:nth-child(1), .job-sidebar .button-apply .add-fav button:focus .iconify:nth-child(1), .job-sidebar .button-apply .apply button:focus .iconify:nth-child(1), main .container-fluid .row .card .card-footer .content .share-job button:focus .iconify:nth-child(1), main .container-fluid .row .card .card-footer .content .add-fav button:focus .iconify:nth-child(1), main .container-fluid .row .card .card-footer .content .apply button:focus .iconify:nth-child(1) {
  display: none;
}
.favorites .fav-items-content .row .card .card-footer .content .share-job button:hover .iconify:nth-child(2), .favorites .fav-items-content .row .card .card-footer .content .add-fav button:hover .iconify:nth-child(2), .favorites .fav-items-content .row .card .card-footer .content .apply button:hover .iconify:nth-child(2), .job-sidebar .button-apply .share-job button:hover .iconify:nth-child(2), .job-sidebar .button-apply .add-fav button:hover .iconify:nth-child(2), .job-sidebar .button-apply .apply button:hover .iconify:nth-child(2), main .container-fluid .row .card .card-footer .content .share-job button:hover .iconify:nth-child(2), main .container-fluid .row .card .card-footer .content .add-fav button:hover .iconify:nth-child(2), main .container-fluid .row .card .card-footer .content .apply button:hover .iconify:nth-child(2), .favorites .fav-items-content .row .card .card-footer .content .share-job button:focus .iconify:nth-child(2), .favorites .fav-items-content .row .card .card-footer .content .add-fav button:focus .iconify:nth-child(2), .favorites .fav-items-content .row .card .card-footer .content .apply button:focus .iconify:nth-child(2), .job-sidebar .button-apply .share-job button:focus .iconify:nth-child(2), .job-sidebar .button-apply .add-fav button:focus .iconify:nth-child(2), .job-sidebar .button-apply .apply button:focus .iconify:nth-child(2), main .container-fluid .row .card .card-footer .content .share-job button:focus .iconify:nth-child(2), main .container-fluid .row .card .card-footer .content .add-fav button:focus .iconify:nth-child(2), main .container-fluid .row .card .card-footer .content .apply button:focus .iconify:nth-child(2) {
  display: block;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #e0e0e0;
  font-family: "Source Sans Pro", sans-serif;
}
body .home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(2, 20, 37, 0.829)), url("../images/JobSlider.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid #f8f9fa;
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(43, 149, 255, 0.9);
}

::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

#loading2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
}
#loading2 svg polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#loading2 svg polyline#back {
  stroke: rgba(43, 149, 255, 0.2);
}
#loading2 svg polyline#front {
  stroke: #2b95ff;
  stroke-dasharray: 12, 36;
  stroke-dashoffset: 48;
  animation: dash 1s linear infinite;
}

@keyframes dash {
  62.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.home .browse-bottom {
  gap: 8px;
  width: fit-content;
  margin: 50px auto 80px auto;
}
.home .browse-bottom .move-down:nth-child(2) a {
  border: 2px solid #ff0055;
  background-color: #ff0055;
}
.home .browse-bottom .move-down a {
  align-items: center;
  font-size: 14px;
  border: 2px solid #2b95ff;
  border-radius: 10px;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  background-color: #2b95ff;
}
.home .browse-bottom .move-down a .iconify {
  color: white;
  width: 20px;
}
.home .browse-bottom .move-down a:hover {
  transform: scale(1.02);
}

/* navigation bar  */
.navbar {
  background-color: white;
  position: fixed;
  display: block;
  box-shadow: 0px 0.2px 2px 0.5px rgba(0, 0, 0, 0.2);
  top: 0;
  width: 100%;
  z-index: 9999;
}
.navbar-brand img {
  width: 40px;
  padding: 2px;
}
.navbar .mb-menu {
  display: none;
  padding-top: 3px;
}
.navbar .mb-menu .nav {
  border-top: 1px solid #d1d1d1;
}
.navbar .mb-menu .nav .navbar-nav {
  width: 100%;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.navbar .mb-menu .nav .navbar-nav .iconify {
  width: 25px;
  color: gray;
  text-align: center;
  width: 100%;
}
.navbar .mb-menu .nav .navbar-nav .nav-item {
  width: fit-content;
}
.navbar .mb-menu .nav .navbar-nav .nav-item .nav-link {
  padding: 5px 15px;
}
.navbar .mb-menu .nav .navbar-nav .nav-item .nav-link.active {
  background-color: rgba(43, 149, 255, 0.8);
  border-radius: 5px;
  color: #2b95ff;
}
.navbar .mb-menu .nav .navbar-nav .nav-item .nav-link.active .iconify {
  color: white;
}
.navbar .mb-menu .nav .navbar-nav .nav-item .nav-link:hover {
  background-color: #e9e9e9;
  border-radius: 10px;
}
.navbar .mb-menu .nav .navbar-nav .nav-item .nav-link:hover .iconify {
  transform: scale(1.1);
  color: #2b95ff;
}
.navbar .mb-menu .nav .navbar-nav .nav-link.active:hover {
  background-color: rgba(43, 149, 255, 0.8);
}
.navbar .mb-menu .nav .navbar-nav .nav-link.active:hover .iconify {
  transform: none;
  color: white;
}
.navbar .mb-menu .nav .nav-item .tooltips {
  width: 20%;
  display: block;
  text-align: center;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 4px 8px;
  margin-top: 10px;
  display: none;
}
.navbar .mb-menu .nav .nav-item:hover .tooltips {
  display: block;
}
.navbar .mb-menu .iconify {
  font-size: 18px;
}
.navbar .collapse.navbar-collapse {
  justify-content: space-between;
}
.navbar .collapse.navbar-collapse .search-item {
  width: 100%;
}
.navbar .collapse.navbar-collapse .search-item .search {
  width: 150px;
}
.navbar .collapse.navbar-collapse .search-item .search:focus-within .d-flex {
  width: 300px;
  border: none;
  border: 1px solid #2b95ff;
}
.navbar .collapse.navbar-collapse .search-item .search:focus-within .d-flex .iconify {
  color: #2b95ff;
}
.navbar .collapse.navbar-collapse .search-item .search .d-flex {
  border: 1px solid #bbbbbb;
  border-radius: 10px;
  background-color: white;
  width: 150px;
  padding: 2px;
  padding-left: 14px;
}
.navbar .collapse.navbar-collapse .search-item .search .d-flex .iconify {
  color: gray;
  font-size: 18px;
}
.navbar .collapse.navbar-collapse .search-item .search .d-flex input[type=search-input] {
  border: none;
  height: 32px;
  margin-top: -1px;
  background-color: white;
}
.navbar .collapse.navbar-collapse .search-item .search .d-flex input[type=search-input]:focus {
  box-shadow: none;
  background-color: white;
}
.navbar .collapse.navbar-collapse .navbar-nav.me-auto {
  gap: 15px;
}
.navbar .collapse.navbar-collapse .menu-item {
  width: 100%;
}
.navbar .collapse.navbar-collapse .menu-item .navbar-nav {
  width: 100%;
  position: relative;
}
.navbar .collapse.navbar-collapse .menu-item .navbar-nav .iconify {
  font-size: 22px;
  color: gray;
  text-align: center;
  width: 100%;
}
.navbar .collapse.navbar-collapse .menu-item .navbar-nav .nav-item {
  width: 100%;
}
.navbar .collapse.navbar-collapse .menu-item .navbar-nav .nav-link.active {
  background-color: rgba(43, 149, 255, 0.8);
  border-radius: 10px;
  color: #2b95ff;
}
.navbar .collapse.navbar-collapse .menu-item .navbar-nav .nav-link.active .iconify {
  color: white;
}
.navbar .collapse.navbar-collapse .menu-item .navbar-nav .nav-link:hover {
  background-color: #e9e9e9;
  border-radius: 10px;
}
.navbar .collapse.navbar-collapse .menu-item .navbar-nav .nav-link:hover .iconify {
  transform: scale(1.1);
  color: #2b95ff;
}
.navbar .collapse.navbar-collapse .menu-item .navbar-nav .nav-link.active:hover {
  background-color: rgba(43, 149, 255, 0.8);
}
.navbar .collapse.navbar-collapse .menu-item .navbar-nav .nav-link.active:hover .iconify {
  transform: none;
  color: white;
}
.navbar .collapse.navbar-collapse .menu-item .nav-item .tooltips {
  width: 20%;
  display: block;
  text-align: center;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 4px 8px;
  margin-top: 10px;
  display: none;
}
.navbar .collapse.navbar-collapse .menu-item .nav-item:hover .tooltips {
  display: block;
}
.navbar .collapse.navbar-collapse .sign-in {
  width: 100%;
  justify-content: flex-end;
  padding-right: 30px;
  gap: 10px;
}
.navbar .collapse.navbar-collapse .sign-in a {
  text-decoration: none;
}
.navbar .collapse.navbar-collapse .sign-in a #register, .navbar .collapse.navbar-collapse .sign-in a #sign-in {
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
}
.navbar .collapse.navbar-collapse .sign-in a #register:active, .navbar .collapse.navbar-collapse .sign-in a #sign-in:active {
  transform: scale(0.98);
}
.navbar .collapse.navbar-collapse .sign-in a #register {
  border: 2px solid #ff0055;
  background-color: #f8f9fa;
  color: #ff0055;
}
.navbar .collapse.navbar-collapse .sign-in a #register:hover {
  background-color: #ff0055;
  color: #f8f9fa;
}
.navbar .collapse.navbar-collapse .sign-in a #sign-in {
  border: 2px solid #2b95ff;
  background-color: #f8f9fa;
  color: #2b95ff;
}
.navbar .collapse.navbar-collapse .sign-in a #sign-in:hover {
  background-color: #2b95ff;
  color: #f8f9fa;
}

header {
  width: 100%;
}
header .slider-img {
  width: 100%;
  height: 400px;
  display: block;
  overflow: hidden;
}
header .slider-img img {
  filter: brightness(26%);
  width: 100%;
}
header .slider .color-img {
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: rgba(0, 47, 255, 0.575);
  opacity: 0.2;
  top: 0;
}
header .slider-content {
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  top: 100px;
  width: 100%;
  height: 300px;
  text-align: center;
  color: white;
  z-index: 99;
}
header .slider-content .browse {
  gap: 8px;
}
header .slider-content .browse .move-down:nth-child(2) a {
  border: 2px solid #ff0055;
}
header .slider-content .browse .move-down:nth-child(2) a .iconify {
  color: #ff0055;
}
header .slider-content .browse .move-down:nth-child(2) a:hover {
  background-color: #ff0055;
  border: 2px solid white;
}
header .slider-content .browse .move-down:nth-child(2) a:hover .iconify {
  color: white;
}
header .slider-content .browse .move-down a {
  align-items: center;
  font-size: 18px;
  border: 2px solid #2b95ff;
  border-radius: 30px;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
}
header .slider-content .browse .move-down a .iconify {
  color: #2b95ff;
  font-size: 25px;
}
header .slider-content .browse .move-down a:hover {
  background-color: #2b95ff;
  border: 2px solid white;
}
header .slider-content .browse .move-down a:hover .iconify {
  color: white;
}
header #browe {
  margin-bottom: 50px;
}

main {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
main .statusMsg {
  text-align: center;
  margin-top: 2rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
main .content-container {
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}
main .content-container .count-jobs {
  font-size: 16px;
}
main .container-fluid {
  margin: 10px 20px;
}
main .container-fluid .form-select {
  width: fit-content;
  border-radius: 10px;
}
main .container-fluid .row .card {
  border-radius: 10px;
  background-color: white;
  max-width: 18rem;
}
main .container-fluid .row .card a {
  text-decoration: none;
  color: black;
}
main .container-fluid .row .card .card-header {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 5px 5px 8px;
}
main .container-fluid .row .card .card-header .img-fluid {
  margin-top: 20px;
}
main .container-fluid .row .card .card-header .card-title {
  font-size: 15px;
}
main .container-fluid .row .card .card-header .card-text.area {
  color: gray;
  margin: 0;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
}
main .container-fluid .row .card .card-header .card-text.date {
  font-family: "Source Sans Pro", sans-serif;
  color: darkgray;
  margin: 0;
  font-size: 13px;
}
main .container-fluid .row .card .card-body {
  height: 120px;
}
main .container-fluid .row .card .card-body .card-title {
  font-size: 15px;
}
main .container-fluid .row .card .card-body .card-text {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 14px;
  color: #505050;
}
main .container-fluid .row .card .card-footer {
  width: 100%;
}
main .container-fluid .row .card .card-footer .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.pagination {
  gap: 10px;
}
.pagination .page-link {
  border-radius: 5px;
}
.pagination .page-link:focus {
  box-shadow: none;
}

footer {
  margin-top: 30px;
}
footer .row .f-contact p {
  color: #646464;
}
footer .row h5 {
  padding: 7px 0;
  margin-bottom: 15px;
  border-bottom: 3px solid #2b95ff;
  text-transform: uppercase;
  font-size: 16px;
}
footer .row .col-md-3 p {
  line-height: 10px;
}
footer .row .f-menu a {
  text-decoration: none;
}
footer .row .f-menu a:hover {
  text-decoration: underline;
}

.copyright {
  background-color: white;
  padding: 20px;
  margin: 0;
  margin-top: 30px;
}
.copyright .know-us {
  text-align: center;
  font-size: 14px;
}
.copyright .know-us a {
  text-decoration: none;
}
.copyright .know-us a:hover {
  text-decoration: underline;
}
.copyright .c-right {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: gray;
}

.type-page .types-menu {
  position: fixed;
  width: 100%;
  z-index: 998;
  padding-top: 20px;
  padding-left: 100px;
  padding-bottom: 10px;
  background-color: white;
  gap: 10px;
}
.type-page .types-menu form {
  gap: 10px;
}
.type-page .types-menu form .form-select {
  padding: 2px;
  padding-left: 10px;
  padding-right: 35px;
  border-radius: 10px;
  border: none;
  box-shadow: none;
  font-size: 14px;
}
.type-page .types-menu form .form-select:nth-child(1) {
  width: 100px;
}
.type-page .types-menu form .form-select:nth-child(2) {
  width: 110px;
}
.type-page .types-menu form .form-select:nth-child(3) {
  width: 120px;
}

.job-sidebar {
  background-color: white;
  width: 400px;
  height: 88vh;
  margin: 0 10px 10px 10px;
  border-radius: 10px;
  position: fixed;
  padding: 20px;
}
.job-sidebar .tools {
  justify-content: space-between;
}
.job-sidebar .tools .back-btn {
  padding-bottom: 20px;
  width: fit-content;
}
.job-sidebar .tools .back-btn:hover {
  cursor: pointer;
}
.job-sidebar .tools .back-btn:hover .iconify {
  color: #2b95ff;
}
.job-sidebar .tools .back-btn:active {
  cursor: pointer;
}
.job-sidebar .tools .back-btn:active .iconify:nth-child(1) {
  display: none;
}
.job-sidebar .tools .back-btn:active .iconify:nth-child(2) {
  display: block;
}
.job-sidebar .tools .back-btn .iconify {
  font-size: 35px;
  color: #525252;
}
.job-sidebar .tools .back-btn .iconify:nth-child(2) {
  display: none;
  color: #2b95ff;
}
.job-sidebar .tools .more-tools {
  padding-bottom: 20px;
  width: fit-content;
}
.job-sidebar .tools .more-tools .iconify {
  font-size: 21px;
  color: #525252;
}
.job-sidebar .tools .more-tools .iconify:hover {
  cursor: pointer;
  color: #2b95ff;
}
.job-sidebar .info-logo {
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid #2b95ff;
  padding-bottom: 10px;
}
.job-sidebar .info-logo img {
  width: 100px;
  margin: 5px;
  margin-top: 0;
}
.job-sidebar .info-position {
  padding-left: 15px;
}
.job-sidebar .button-apply {
  width: 100%;
  background-color: #f8f9fa;
  margin-left: -20px;
  position: absolute;
  bottom: 0;
  padding: 20px;
  justify-content: center;
  gap: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.job-sidebar .button-apply .apply .iconify {
  font-size: 25px;
}
.job-sidebar .button-apply .add-fav .iconify {
  font-size: 25px;
}
.job-sidebar .button-apply .share-job .iconify {
  font-size: 25px;
}

.info-content {
  background-color: white;
  min-height: 100vh;
  margin: 70px 10px 10px 420px;
  border-radius: 10px;
  padding: 50px 60px;
}
.info-content table tr td {
  padding-left: 10px;
}
.info-content table tr td b {
  color: #2b95ff;
}
.info-content table tr td:nth-child(2) {
  color: #4e4e4e;
}
.info-content table tr .closing {
  color: #ff0055;
}

.favorites {
  padding: 70px 10px;
}
.favorites .sidebar .card {
  background-color: white;
  position: fixed;
  width: 280px;
  min-height: 88vh;
  z-index: 999;
}
.favorites .sidebar .card .card-header {
  background-color: white;
  padding: 10px 5px 5px 20px;
  justify-content: space-between;
}
.favorites .sidebar .card .card-header h3 {
  font-weight: bold;
}
.favorites .sidebar .card .card-header .iconify {
  display: none;
}
.favorites .sidebar .card .card-body form {
  margin-top: -10px;
}
.favorites .sidebar .card .card-body form .tools .filter {
  border: none;
  border-radius: 5px;
  padding: 2px 5px 2px 0;
  outline: none;
}
.favorites .sidebar .card .card-body form .tools .filter:focus {
  background-color: #e4e4e4;
}
.favorites .sidebar .card .card-body form .tools .filter:hover {
  cursor: pointer;
}
.favorites .sidebar .card .card-body form .tools .filter option {
  background-color: white;
}
.favorites .sidebar .card .card-body form .tools .remove {
  margin-left: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  border-left: 1px solid gray;
}
.favorites .sidebar .card .card-body form .tools .remove .iconify {
  font-size: 22px;
  color: gray;
}
.favorites .sidebar .card .card-body form .tools .remove .iconify:hover {
  cursor: pointer;
}
.favorites .sidebar .card .card-body form .find-fav {
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 10px;
}
.favorites .sidebar .card .card-body form .find-fav .find {
  padding-left: 5px;
  padding-right: 5px;
}
.favorites .sidebar .card .card-body form .find-fav .find .iconify {
  font-size: 18px;
  color: gray;
}
.favorites .sidebar .card .card-body form .find-fav input {
  width: 100%;
  border: none;
  outline: none;
  padding: 2px 0;
  border-radius: 10px;
}
.favorites .fav-items-content {
  margin-top: 40px;
  margin-left: 340px;
  margin-right: 20px;
  min-height: 80vh;
  margin-bottom: -60px;
}
.favorites .fav-items-content .row .card {
  border-radius: 10px;
  background-color: white;
  max-width: 18rem;
}
.favorites .fav-items-content .row .card a {
  text-decoration: none;
  color: black;
}
.favorites .fav-items-content .row .card .card-header {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 8px;
}
.favorites .fav-items-content .row .card .card-header .img-fluid {
  margin-top: 20px;
}
.favorites .fav-items-content .row .card .card-header .card-title {
  font-size: 15px;
}
.favorites .fav-items-content .row .card .card-header .card-text.area {
  color: gray;
  margin: 0;
  font-size: 13px;
  font-family: "Source Sans Pro", sans-serif;
}
.favorites .fav-items-content .row .card .card-header .card-text.date {
  font-family: "Source Sans Pro", sans-serif;
  color: darkgray;
  margin: 0;
  font-size: 13px;
}
.favorites .fav-items-content .row .card .card-body {
  height: 120px;
}
.favorites .fav-items-content .row .card .card-body .card-title {
  font-size: 15px;
}
.favorites .fav-items-content .row .card .card-body .card-text {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 14px;
  color: #505050;
}
.favorites .fav-items-content .row .card .card-footer .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.wrapper {
  margin-top: 40px;
  min-height: 100vh;
  background: color #2b95ff;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
  text-align: left;
}
.wrapper .overlay {
  width: 100%;
}
.wrapper .contact-us {
  margin-top: 50px;
  margin-bottom: 50px;
}
.wrapper .contact-us .t-contact {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}
.wrapper .contact-us .feel-free {
  color: rgba(0, 0, 0, 0.8);
}
.wrapper .contact-us .address {
  margin-top: 14px !important;
  margin-left: 10px;
  text-align: left;
}
.wrapper .contact-us .address p:nth-child(1) {
  color: #2b95ff;
  font-weight: 600;
}
.wrapper .contact-us .address p:nth-child(1) span {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.wrapper .contact-us .icons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #2b95ff;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .contact-us .icons i {
  font-size: 20px;
}
.wrapper .contact-us .forms {
  padding: 20px;
}
.wrapper .contact-us .forms .inputs .form-control {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #eee;
}
.wrapper .contact-us .forms .inputs .form-control:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #2b95ff;
  box-shadow: none;
}
.wrapper .contact-us .forms .inputs .form-control-t {
  border: none;
  border-bottom: 2px solid #eee;
  width: 100%;
  min-height: 20px;
}
.wrapper .contact-us .forms .inputs .form-control-t:focus {
  margin-bottom: 13px;
  border: none;
  border-bottom: 2px solid #2b95ff;
  box-shadow: none;
  resize: none;
  outline: none;
}
.wrapper .contact-us .forms .form-control {
  padding: 0.375rem 0.25rem;
}
.wrapper .col-md-6 .text-center .button {
  justify-content: right;
}
.wrapper .col-md-6 .text-center .button .btn {
  box-shadow: none;
}
.wrapper .col-md-6 .text-center .button .btn:hover {
  background-color: #2b95ff;
  border: 1px solid white;
}
.wrapper .col-md-6 .text-center .button .btn:active {
  transform: scale(0.98);
}

.signIn {
  justify-content: center;
  min-height: 98vh;
}
.signIn .signCard {
  border: none;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 3px;
}
.signIn .signCard .signInHeader {
  justify-content: space-between;
}
.signIn .signCard .signInHeader .logoSign img {
  width: 30px;
}
.signIn .signCard .signInHeader .signTitle {
  color: #2b95ff;
}
.signIn .signCard .signInHeader .signBlank {
  width: 30px;
}
.signIn .signCard .signInHeader .signBlank .iconify {
  font-size: 25px;
  color: gray;
}
.signIn .signCard .signInHeader .signBlank .iconify:hover {
  cursor: pointer;
  color: #2b95ff;
}
.signIn .signCard .signInHeader .signBlank .iconify:active {
  transform: translateX(-2px);
}
.signIn .signCard .card-body {
  padding: 20px 70px 50px 70px;
}
.signIn .signCard .card-body form input {
  width: 250px;
  padding-left: 10px;
  background-color: #e9e9e9;
  border: none;
  outline: none;
}
.signIn .signCard .card-body form .signEmail {
  padding: 5px 8px;
  background-color: #e9e9e9;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
}
.signIn .signCard .card-body form .signEmail .iconify {
  font-size: 18px;
  color: gray;
}
.signIn .signCard .card-body form .signEmail:focus-within {
  border: 1px solid #2b95ff;
  background-color: white;
}
.signIn .signCard .card-body form .signEmail:focus-within input {
  background-color: white;
}
.signIn .signCard .card-body form .signEmail:focus-within .iconify {
  color: #2b95ff;
}
.signIn .signCard .card-body form .forgot {
  font-size: 12px;
  color: gray;
}
.signIn .signCard .card-body form .log {
  justify-content: space-between;
}
.signIn .signCard .card-body form .log .log-btn {
  gap: 8px;
}
.signIn .signCard .card-body form .log .log-btn button {
  background-color: white;
  border: none;
  border-radius: 10px;
  justify-content: center;
  padding: 4px 15px;
}
.signIn .signCard .card-body form .log .log-btn button:nth-child(1) {
  border: 2px solid gray;
  color: gray;
}
.signIn .signCard .card-body form .log .log-btn button:nth-child(1):hover {
  background-color: #ff0055;
  color: white;
  border: 2px solid #ff0055;
}
.signIn .signCard .card-body form .log .log-btn button:nth-child(2) {
  border: 2px solid #2b95ff;
  color: white;
  background-color: #2b95ff;
}
.signIn .signCard .card-body form .log .log-btn button:nth-child(2):hover {
  transform: scale(1.03);
}
.signIn .signCard .card-body form .log .log-btn button:nth-child(2):active {
  transform: scale(1.03);
}
.signIn .signCard .card-footer .otherWays {
  justify-content: center;
  margin-top: -30px;
  height: 30px;
}
.signIn .signCard .card-footer .otherWays .other-sub {
  line-height: 2px;
  background-color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.signIn .signCard .card-footer .otherWays .other-sub p {
  text-align: center;
  font-size: 14px;
  color: gray;
}
.signIn .signCard .card-footer .socialMedia {
  justify-content: center;
  gap: 7px;
}
.signIn .signCard .card-footer .socialMedia a img {
  width: 20px;
  border-radius: 50%;
}
.signIn .signCard .card-footer .socialMedia a:nth-child(3) img {
  width: 28px;
}
.signIn .signCard .card-footer .container {
  padding-bottom: 20px;
}
.signIn .signCard .card-footer .container .know-us {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
}
.signIn .signCard .card-footer .container .know-us a {
  color: #2b95ff;
  text-decoration: none;
}
.signIn .signCard .card-footer .container .know-us a:hover {
  text-decoration: underline;
}

.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
.not-found .error-item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.not-found .error-item .error-message h3 {
  font-weight: bolder;
  color: #353535;
}
.not-found .error-item .error-message p {
  color: #5a5a5a;
}
.not-found .error-item .error-message button a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 1201px) {
  main .content-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar .search-item {
    display: block;
  }

  main .content-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  main .content-container .row .card .card-header img {
    width: 50px;
  }
  main .content-container .row .card .card-header .card-title {
    font-size: 13px;
    font-weight: 600;
  }
  main .favorites .fav-items-content {
    margin-left: 310px;
  }

  .favorites {
    padding: 59px 0;
  }
  .favorites .sidebar .card {
    min-height: fit-content;
    width: 100%;
  }
  .favorites .sidebar .card .card-header h3 {
    font-size: 16px;
  }
  .favorites .sidebar .card .card-header .iconify {
    display: block;
    margin-top: -5px;
    margin-right: 30px;
    width: 30px;
  }
  .favorites .sidebar .card .card-body {
    display: none;
    transition: 1s all ease;
  }
  .favorites .sidebar .card .card-body.active {
    display: block;
  }
  .favorites .fav-items-content {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .favorites .fav-items-content .card .card-header img {
    width: 80px;
  }
  .favorites .fav-items-content .card .card-header .card-body h5 {
    font-size: 14px;
    font-weight: 600;
  }
  .favorites .fav-items-content .card .card-header .card-body .card-text.area {
    font-size: 10px;
  }
  .favorites .fav-items-content .card .card-header .card-body .card-text.date {
    font-size: 10px;
  }
  .favorites .fav-items-content .card .card-header .card-body .pop {
    font-size: 10px;
  }
  .favorites .fav-items-content .card .card-body .card-text {
    font-size: 12px;
  }
}
@media only screen and (max-width: 1000px) {
  #term-of-use #term-sheet {
    margin: 110px 100px;
  }

  .signIn .signCard .signInHeader .signTitle h3 {
    font-size: 20px;
  }
  .signIn .signCard .card-body {
    padding: 15px 50px 40px 50px;
  }
  .signIn .signCard .card-body form label {
    font-size: 14px;
  }
  .signIn .signCard .card-body form input {
    font-size: 14px;
  }
  .signIn .signCard .card-body .log .log-btn button {
    font-size: 14px;
  }

  .navbar .menu-item {
    display: none;
  }
  .navbar .mb-menu {
    display: block;
  }
  .navbar .mb-menu .nav-link {
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .mb-menu .nav-link .iconify {
    color: #646464;
  }
  .navbar .mb-menu .nav-link.active {
    background-color: #2b95ff;
  }
  .navbar .mb-menu .nav-link.active .iconify {
    color: white;
  }

  .type-page .types-menu {
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 120px;
  }
  .type-page .title-categories {
    display: none;
  }

  main {
    margin-top: 60px;
  }
  main .content-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .home .browse-bottom .move-down a {
    padding: 0px 10px;
  }
  .home .browse-bottom .move-down a span {
    font-size: 12px;
  }
  .home .browse-bottom .move-down a .iconify {
    width: 15px;
  }

  .postForm {
    padding-top: 10px;
  }

  .wrapper {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 768px) {
  #term-of-use #term-sheet {
    margin: 110px 70px;
  }
  #term-of-use #term-sheet .title-term h3 {
    font-size: 23px;
  }
  #term-of-use #term-sheet .text-content-sheet h5 {
    font-size: 19px;
  }

  header {
    display: none;
  }

  .type-page .types-menu {
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 70px;
  }
  .type-page .title-categories {
    display: none;
  }

  main {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
  main .content-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  main .content-container .container-fluid .row .card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .content-container .container-fluid .row .card .card-header .img-fluid {
    width: 60px;
  }

  .postForm {
    font-size: 12px;
  }
  .postForm .job-post {
    padding-left: 15px;
    padding-right: 15px;
  }
  .postForm .job-post #publishTop {
    display: none;
  }
  .postForm .job-post input {
    font-size: 12px;
    height: 30px;
  }
  .postForm .job-post select {
    font-size: 12px;
  }
  .postForm .job-post .selectForm {
    height: 10px;
  }
  .postForm .job-post .describe-job {
    font-size: 12px;
  }

  .favorites {
    padding: 95px 0;
  }
  .favorites .sidebar .card {
    min-height: fit-content;
    width: 100%;
  }
  .favorites .sidebar .card .card-header h3 {
    font-size: 16px;
  }
  .favorites .sidebar .card .card-header .iconify {
    display: block;
    margin-top: -5px;
    margin-right: 30px;
    width: 30px;
  }
  .favorites .sidebar .card .card-body {
    display: none;
    transition: 1s all ease;
  }
  .favorites .sidebar .card .card-body.active {
    display: block;
  }
  .favorites .fav-items-content {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .favorites .fav-items-content .card .card-header img {
    width: 80px;
  }
  .favorites .fav-items-content .card .card-header .card-body h5 {
    font-size: 14px;
    font-weight: 600;
  }
  .favorites .fav-items-content .card .card-header .card-body .card-text.area {
    font-size: 10px;
  }
  .favorites .fav-items-content .card .card-header .card-body .card-text.date {
    font-size: 10px;
  }
  .favorites .fav-items-content .card .card-header .card-body .pop {
    font-size: 10px;
  }
  .favorites .fav-items-content .card .card-body .card-text {
    font-size: 12px;
  }

  #register-form .card .card-header .signTitle h3 {
    font-size: 20px;
  }
  #register-form .card .card-header .logoSign img {
    width: 25px;
  }
  #register-form .card .card-body {
    padding: 30px 30px;
  }
  #register-form .card .card-body form .signEmail {
    width: fit-content;
  }
  #register-form .card .card-body form .signEmail input {
    width: 200px;
    font-size: 12px;
  }
  #register-form .card .card-body form .user-name {
    display: block;
  }
  #register-form .card .card-body form .user-name .first {
    width: fit-content;
  }
  #register-form .card .card-body form .user-name .first input {
    width: unset;
    font-size: 12px;
  }
  #register-form .card .card-body form .user-name .last input {
    font-size: 12px;
  }
  #register-form .card .card-body form .gender input {
    font-size: 12px;
  }
  #register-form .card .card-body form .gender label {
    font-size: 12px;
  }
  #register-form .card .card-body form .country-select {
    font-size: 12px;
  }
  #register-form .card .card-body form .term input {
    font-size: 12px;
  }
  #register-form .card .card-body form .term label {
    font-size: 12px;
  }
  #register-form .card .card-body form .submit .btn-register {
    font-size: 14px;
  }
}
@media only screen and (max-width: 575px) {
  main .content-container {
    padding-left: 100px;
    padding-right: 100px;
  }

  footer h5 {
    font-size: 14px;
  }
  footer p {
    font-size: 12px;
  }

  .signIn .signCard .signInHeader .signTitle h3 {
    font-size: 20px;
  }
  .signIn .signCard .card-body {
    padding: 10px 40px 35px 40px;
  }
  .signIn .signCard .card-body form label {
    font-size: 12px;
  }
  .signIn .signCard .card-body form input {
    font-size: 12px;
    width: 180px;
  }
  .signIn .signCard .card-body form .forgot {
    font-size: 10px;
  }
  .signIn .signCard .card-body form .log .log-btn button {
    font-size: 12px;
  }
  .signIn .signCard .card-footer .otherWays p {
    font-size: 10px;
  }
}
@media only screen and (max-width: 512px) {
  #term-of-use #term-sheet {
    margin: 110px 20px;
  }
  #term-of-use #term-sheet .title-term .tools .iconify {
    width: 25px;
  }
  #term-of-use #term-sheet .text-content-sheet {
    padding: 10px 10px;
  }

  .navbar .collapse .search-item .logo .navbar-brand img {
    width: 30px;
  }
  .navbar .collapse .search-item .search {
    width: 150px;
    margin: 0;
    padding: 0;
  }
  .navbar .collapse .search-item .search label i {
    font-size: 13px;
  }
  .navbar .collapse .search-item .search input {
    font-size: 12px;
    height: fit-content;
    padding: 0;
    padding-left: 5px;
  }
  .navbar .collapse .sign-in {
    width: 100%;
    padding: 0;
    gap: 2px;
  }
  .navbar .collapse .sign-in #register {
    font-size: 10px;
    padding: 2px 4px;
  }
  .navbar .collapse .sign-in #sign-in {
    font-size: 10px;
    padding: 2px 4px;
  }

  .type-page .types-menu {
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
  .type-page .title-categories {
    display: none;
  }

  main {
    margin-top: 80px;
  }
  main .content-container {
    padding-left: 70px;
    padding-right: 70px;
  }
  main .content-container .row .card .card-header .card-title {
    font-size: 12px;
    font-weight: 700;
  }
  main .content-container .row .card .card-header .card-text.area {
    font-size: 9px;
  }
  main .content-container .row .card .card-header .card-text.date {
    font-size: 9px;
  }
  main .content-container .row .card .card-header .pop {
    font-size: 10px;
  }
  main .content-container .row .card .card-body .card-title {
    font-size: 11px;
    font-weight: 600;
  }
  main .content-container .row .card .card-body .card-text {
    font-size: 10px;
  }

  .home .browse-bottom {
    margin: 0 auto 40px auto;
  }
  .home .browse-bottom .move-down a {
    padding: 0px 10px;
  }
  .home .browse-bottom .move-down a span {
    font-size: 10px;
  }
  .home .browse-bottom .move-down a .iconify {
    width: 15px;
  }

  .favorites .fav-items-content {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media only screen and (max-width: 380px) {
  #term-of-use #term-sheet {
    margin: 110px 10px;
  }
  #term-of-use #term-sheet .title-term h3 {
    font-size: 20px;
  }
  #term-of-use #term-sheet .text-content-sheet {
    padding: 10px 10px;
  }
  #term-of-use #term-sheet .text-content-sheet h5 {
    font-size: 16px;
  }
  #term-of-use #term-sheet .text-content-sheet p {
    font-size: 12px;
  }

  .navbar .collapse.navbar-collapse .search-item .search:focus-within .d-flex {
    width: 150px;
    background-color: white;
  }
  .navbar .collapse.navbar-collapse .search-item .search .d-flex {
    width: 45px;
    border: none;
    background-color: unset;
  }
  .navbar .collapse.navbar-collapse .search-item .search .d-flex input[type=search-input] {
    background-color: unset;
  }
  .navbar .collapse.navbar-collapse .sign-in {
    padding-right: 5px;
  }
  .navbar .collapse.navbar-collapse .sign-in button#sign-in {
    display: none;
  }
  .navbar .mb-menu .nav {
    overflow-x: auto;
  }
  .navbar .mb-menu .nav::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .navbar .mb-menu .nav::-webkit-scrollbar-thumb {
    border: none;
    background-clip: unset;
    border-radius: 20px;
    background-color: unset;
  }
  .navbar .mb-menu .nav::-webkit-scrollbar-track {
    background-color: unset;
  }

  main {
    margin-top: 70px;
  }
  main .container-fluid .row .card .card-header .card-title {
    font-size: 12px;
    font-weight: 700;
  }
  main .container-fluid .row .card .card-header .card-text.area {
    font-size: 9px;
  }
  main .container-fluid .row .card .card-header .card-text.date {
    font-size: 9px;
  }
  main .container-fluid .row .card .card-header .pop {
    font-size: 10px;
  }
  main .container-fluid .row .card .card-body .card-title {
    font-size: 11px;
    font-weight: 600;
  }
  main .container-fluid .row .card .card-body .card-text {
    font-size: 10px;
  }

  .type-page .types-menu {
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 5px;
    overflow-x: auto;
    gap: 10px;
  }
  .type-page .types-menu::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .type-page .types-menu::-webkit-scrollbar-thumb {
    border: none;
    background-clip: unset;
    border-radius: 20px;
    background-color: unset;
  }
  .type-page .types-menu::-webkit-scrollbar-track {
    background-color: unset;
  }
  .type-page .types-menu .title-categories {
    display: none;
  }

  .favorites .fav-items-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .signIn .signCard .signInHeader .signTitle h3 {
    font-size: 20px;
  }
  .signIn .signCard .card-body {
    padding: 10px 20px 40px 20px;
  }
  .signIn .signCard .card-body form label {
    font-size: 14px;
  }
  .signIn .signCard .card-body form input {
    font-size: 14px;
  }
}
.job-post {
  margin-top: 60px;
  padding: 30px 70px 80px 70px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.job-post input:focus {
  box-shadow: none;
  background-color: white;
}
.job-post input[type=file]:hover {
  cursor: pointer;
}
.job-post input[type=date]:hover {
  cursor: pointer;
}
.job-post select:focus {
  box-shadow: none;
  background-color: white;
}
.job-post select:hover {
  cursor: pointer;
}
.job-post .form-group-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.job-post .form-group-heading:hover {
  cursor: pointer;
}
.job-post .form-group-content {
  width: 100%;
}
.job-post .form-group-content input {
  margin-left: 20px;
  width: 90%;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}
.job-post .box {
  border-radius: 30px;
  border-color: #00b9f3;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e5e5e5;
}
.job-post .box-1, .job-post .box-2 {
  border-radius: 10px;
}
.job-post .box-2 {
  padding: 5px;
}
.job-post .form-control, .job-post .form-select {
  padding-left: 10px;
  padding-right: 30px;
}
.job-post .form-group .selectForm {
  width: 160px;
  height: 40px;
}
.job-post .col-form-label {
  font-weight: bold;
}
.job-post .form-input {
  padding: 0 15px;
  width: fit-content;
  height: fit-content;
  border: 2px dashed #cccccc;
  margin-bottom: 20px;
}
.job-post .form-input .upload-msg {
  text-align: center;
  color: #949494;
}
.job-post .form-input .preview {
  flex-direction: column;
  justify-content: center;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.job-post .form-input input {
  display: none;
}
.job-post .form-input label {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #00b9f3;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}
.job-post .publish-btn {
  display: flex;
  justify-content: flex-end;
}
.job-post .pub-btn {
  background-color: #00b9f3;
  margin-top: 2px;
  border-radius: 10px;
  color: #fff;
  width: 100px;
  padding: 8px 15px;
  border: none;
}
.job-post .pub-btn:hover {
  background-color: #ff0055;
}
.job-post .image-tool {
  justify-content: space-between;
  margin-top: -10px;
}

.term-of-use .term-sheet {
  background-color: white;
  padding: 15px;
  margin: 70px 200px;
  border-radius: 10px;
}
.term-of-use .term-sheet .title-term .tools {
  justify-content: space-between;
}
.term-of-use .term-sheet .title-term .tools .back-btn {
  width: fit-content;
}
.term-of-use .term-sheet .title-term .tools .back-btn:hover {
  cursor: pointer;
}
.term-of-use .term-sheet .title-term .tools .back-btn:hover .iconify {
  color: #2b95ff;
}
.term-of-use .term-sheet .title-term .tools .back-btn:active {
  cursor: pointer;
}
.term-of-use .term-sheet .title-term .tools .back-btn:active .iconify:nth-child(1) {
  display: none;
}
.term-of-use .term-sheet .title-term .tools .back-btn:active .iconify:nth-child(2) {
  display: block;
}
.term-of-use .term-sheet .title-term .tools .back-btn .iconify {
  font-size: 35px;
  color: #525252;
}
.term-of-use .term-sheet .title-term .tools .back-btn .iconify:nth-child(2) {
  display: none;
  color: #2b95ff;
}
.term-of-use .term-sheet .title-term h3 {
  text-align: center;
  font-weight: 800;
}
.term-of-use .term-sheet .text-content-sheet {
  padding: 10px 40px;
}
.term-of-use .term-sheet .text-content-sheet h5 {
  font-weight: 600;
}
.term-of-use .term-sheet .text-content-sheet #line {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px dashed black;
}

.register-form {
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.register-form .card {
  max-width: fit-content;
  background-color: white;
  border-radius: 10px;
}
.register-form .card .card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  justify-content: space-between;
}
.register-form .card .card-header .logoSign img {
  width: 30px;
}
.register-form .card .card-header .signTitle {
  color: #2b95ff;
}
.register-form .card .card-header .signBlank {
  width: 30px;
}
.register-form .card .card-header .signBlank .iconify {
  font-size: 25px;
  color: gray;
}
.register-form .card .card-header .signBlank .iconify:hover {
  cursor: pointer;
  color: #2b95ff;
}
.register-form .card .card-header .signBlank .iconify:active {
  transform: translateX(-2px);
}
.register-form .card .card-body {
  padding: 50px 70px 50px 70px;
}
.register-form .card .card-body form .signEmail {
  border: 1px solid #e9e9e9;
  padding: 5px 8px;
  background-color: #e9e9e9;
  border-radius: 10px;
  margin-bottom: 15px;
  width: fit-content;
}
.register-form .card .card-body form .signEmail:focus-within {
  background-color: white;
  border: 1px solid #2b95ff;
}
.register-form .card .card-body form .signEmail:focus-within .iconify {
  color: #2b95ff;
}
.register-form .card .card-body form .signEmail:focus-within input {
  background-color: white;
}
.register-form .card .card-body form .signEmail input {
  width: 400px;
  padding-left: 10px;
  background-color: #e9e9e9;
  border: none;
  outline: none;
}
.register-form .card .card-body form .signEmail .iconify {
  font-size: 18px;
  color: gray;
}
.register-form .card .card-body form .user-name {
  gap: 15px;
}
.register-form .card .card-body form .user-name .first {
  width: calc(44% - 10px);
  padding: 5px 8px;
  background-color: #e9e9e9;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #e9e9e9;
}
.register-form .card .card-body form .user-name .first input {
  width: calc(100% - 20px);
  padding-left: 10px;
}
.register-form .card .card-body form .user-name .first:focus-within {
  background-color: white;
  border: 1px solid #2b95ff;
}
.register-form .card .card-body form .user-name .first:focus-within .iconify {
  color: #2b95ff;
}
.register-form .card .card-body form .user-name .first:focus-within input {
  background-color: white;
}
.register-form .card .card-body form .user-name .last {
  width: fit-content;
  padding: 5px 8px;
  background-color: #e9e9e9;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #e9e9e9;
}
.register-form .card .card-body form .user-name .last input {
  padding-left: 10px;
}
.register-form .card .card-body form .user-name .last:focus-within {
  background-color: white;
  border: 1px solid #2b95ff;
}
.register-form .card .card-body form .user-name .last:focus-within .iconify {
  color: #2b95ff;
}
.register-form .card .card-body form .user-name .last:focus-within input {
  background-color: white;
}
.register-form .card .card-body form .user-name .iconify {
  font-size: 18px;
  color: gray;
}
.register-form .card .card-body form .user-name input {
  width: fit-content;
  padding-left: 5px;
  background-color: #e9e9e9;
  border: none;
  outline: none;
}
.register-form .card .card-body form .gender {
  margin-bottom: 15px;
}
.register-form .card .card-body form .gender input {
  margin-right: 5px;
}
.register-form .card .card-body form .gender label {
  margin-right: 10px;
}
.register-form .card .card-body form .country-select {
  margin-bottom: 15px;
}
.register-form .card .card-body form .country-select .sel-country {
  background-color: #e9e9e9;
}
.register-form .card .card-body form .term {
  margin-bottom: 20px;
}
.register-form .card .card-body form .term input {
  margin-right: 5px;
}
.register-form .card .card-body form .term label {
  font-size: 15px;
  color: gray;
}
.register-form .card .card-body form .term label a {
  text-decoration: none;
}
.register-form .card .card-body form .term label a:hover {
  text-decoration: underline;
}
.register-form .card .card-body form .submit .btn-register {
  width: 100%;
  border: none;
  background-color: #2b95ff;
  color: white;
  padding: 8px;
  border-radius: 10px;
}

.boost-job {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://cdn.aarp.net/content/dam/aarp/work/job_hunting/2016/11/1140-great-tech-jobs-for-50-plus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.boost-job .side-content {
  min-height: 100vh;
  width: 35%;
  position: fixed;
  padding: 30vh 50px 30px 50px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.boost-job .side-content h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 56px;
}
.boost-job .side-content h6 {
  font-family: "Ubuntu", sans-serif;
}
.boost-job .side-content .reserved {
  flex-direction: column;
  font-size: 12px;
}
.boost-job .side-content .reserved .know-us a {
  text-decoration: none;
}
.boost-job .side-content .reserved .know-us a:hover {
  text-decoration: underline;
}
.boost-job .side-content .reserved .know-us a:focus {
  text-decoration: underline;
}
.boost-job .boost-content {
  background-color: white;
  margin-left: 35%;
  min-height: 100vh;
}
.boost-job .boost-content .header {
  padding: 10px 30px;
  border-bottom: 1px solid #bebebe;
  justify-content: space-between;
}
.boost-job .boost-content .header img {
  width: 40px;
  padding: 2px;
}
.boost-job .boost-content .body table {
  width: fit-content;
  margin: 20px 25px;
}
.boost-job .boost-content .body table tr:nth-child(2n+1) {
  background-color: #f0f0f0;
}
.boost-job .boost-content .body table tr:nth-child(1) {
  background-color: unset;
}
.boost-job .boost-content .body table tr th {
  text-align: center;
  background-color: #2b95ff;
  color: white;
  border: 3px solid white;
  padding: 5px 10px;
}
.boost-job .boost-content .body table tr th:nth-child(1) {
  background-color: unset;
  border: none;
}
.boost-job .boost-content .body table tr td {
  padding: 10px 10px;
  text-align: center;
  border-left: 2px solid white;
}
.boost-job .boost-content .body table tr td:nth-child(1) {
  padding: 10px 10px;
  text-align: left;
  border: none;
  font-weight: 600;
}
.boost-job .boost-content .body table tr td span.choice {
  color: #2b95ff;
  font-size: 20px;
  font-weight: 600;
}
.boost-job .boost-content .body table tr td span.choice input {
  margin-right: 5px;
}
.boost-job .boost-content .body table tr td span.simple {
  color: black;
}
.boost-job .boost-content .body table tr td button {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #2b95ff;
  color: #2b95ff;
}

/*# sourceMappingURL=style.css.map */
